.card-body-pets {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
#littleflex {
  display: flex;
  text-align: left !important;
  justify-content: left !important;
  flex-direction: column;
}
.navigation-buttons {
  display: flex;
  justify-content: center;
  margin-top: -35px;
  margin-bottom: 25px;
  gap: 40px;
  form {
    padding: 0px;
  }
}

#prev, #next {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Animation pour déplacer vers le haut à droite */
.card-swipe-right {
  animation: swipe-right 0.5s forwards ease-in-out;
}

@keyframes swipe-right {
  0% {
    transform: rotate(0deg) translate(0, 0);
  }
  100% {
    transform: rotate(20deg) translate(200px, -200px);
  }
}

/* Animation pour déplacer vers le haut à gauche */
.card-swipe-left {
  animation: swipe-left 0.5s forwards ease-in-out;
}

@keyframes swipe-left {
  0% {
    transform: rotate(0deg) translate(0, 0);
  }
  100% {
    transform: rotate(-20deg) translate(-200px, -200px);
  }
}

/* Transition pour une animation fluide */
.card-body-pets {
  transition: transform 0.5s ease, opacity 0.5s ease;
  position: relative;
  border: 2px solid #161616!important;
  border-radius: 20px;
  box-shadow: 2px 2px 0px 2px  #161616;
  margin-top: 10px !important;
  margin-bottom: 30px !important;;
  align-items: center;
}

.btn-inter {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  background: none;
}

.btn-notinter {
  // background-image: ;
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  background: none;
}

#notinter {
  width: 100px;
  height: 100px;
  border: none!important;
  background: none!important;
  box-shadow: none!important;
  margin: 0px!important;
  padding-top: 0px!important;
  padding-left: 0px!important;
  position: relative;
}

#inter {
  width: 100px;
  height: 100px;
  border: none!important;
  background: none!important;
  box-shadow: none!important;
  margin: 0px!important;
  padding-top: 0px!important;
  padding-left: 0px!important;
  position: relative;
}

#h1-pets {
margin-top: 30px;
margin-bottom: 0px;
font-size: 35px;
text-align: left;
// margin-left: -70px;
font-family: "Noto Serif", serif;
font-weight: 600;
color: #FDFFF3;
text-decoration: none !important;
}

#p-pets {
margin-top: 0px;
font-size: 17px;
text-align: left;
// margin-left: -70px;
font-family: "Montserrat", sans-serif;
font-weight: 400;
color: #FDFFF3;
text-decoration: none !important;
}
