<div style="background-color: #F3F05C">

<h1>Bouttons</h1>
<button class="main-btn">Suivant</button>
<button class="back-btn">Retour</button>

<h1>Présentation app</h1>
<div class="presentation-app">
<h1 > Bienvenue chez Spark! </h1>
<h2> Créer ton profil d’adoptant </h2>
<p>Trouve le compagnon idéal adapté à ton mode de vie !</p>
</div>

<h1>Profil adoptant</h1>
<div class="profil-adoptant">
<h1 > Pour commencer </h1>
<p>Aide nous à créer ton profil d’adoptant en nous en apprenant plus sur toi!</p>
<h2> CRÉATION DE PROFIL </h2>
<h3> À propos de moi </h3>
<h4> Prénom: </h4>
<p class="content-profil-adoptant">Chien</p>
</div>
