<p class="header">Spark</p>

<div style="background-color: #F3F05C">

<h1>Bouttons</h1>
<div>
<button class="main-btn">Suivant</button>
<button class="back-btn">Retour</button>
</div>

<h1>Présentation app</h1>
<div class="presentation-app">
<h1 > Bienvenue chez Spark! </h1>
<h2> Créer ton profil d’adoptant </h2>
<p>Trouve le compagnon idéal adapté à ton mode de vie !</p>
</div>

<h1>Profil adoptant</h1>
<div class="formulaire-adoptant">
<h1 > Pour commencer </h1>
<p>Aide nous à créer ton profil d’adoptant en nous en apprenant plus sur toi!</p>
<h2> CRÉATION DE PROFIL </h2>
<h3> À propos de moi </h3>
<h4> Prénom: </h4>
</div>

<h1>Formulaire</h1>
<div style="align-content: center">
<h4 class="formulaire-adoptant"> Entier:</h4>
<div class="formulaire-adoptant-form-entier"> </div>
<h4 class="formulaire-adoptant"> Demi:</h4>
<div class="formulaire-adoptant-form-demi"> </div>
<h4 class="formulaire-adoptant"> Tier:</h4>
<div class="formulaire-adoptant-form-tier"> </div>
<h4 class="formulaire-adoptant"> Integer:</h4>
<div class="formulaire-adoptant-form-integer"> </div>
<h4 class="formulaire-adoptant"> Input:</h4>
<div class="formulaire-adoptant-form-input"> </div>
<h4 class="formulaire-adoptant"> Photo:</h4>
<div class="formulaire-adoptant-form-photo"> </div>
</div>


<h1>Notifications</h1>
<div class="page-notification">
<h1> It's a Spark! </h1>
<p> Démarrez un conversation avec la SPA de Toulouse. </p>
</div>

<h1>Match Card</h1>
<div>
  <img class="card-match">
  <h1>Maurice</h1>
  <p> SPA de Toulouse </p>
</div>


<h1>Menu</h1>
<div class="menu-spark"> <i class="fa-solid fa-comment"></i> <i class="fa-solid fa-house"></i> <i class="fa-solid fa-user"> </i> </div>
