<div class="formulaire-adoptant">
  <img src="https://res.cloudinary.com/dsdxs3b1q/image/upload/IMG_0115_2_zujmzv.png" alt="image" class="formulaire-adoptant-responsive-image">
  <h1>On y est presque</h1>
  <p style="padding-bottom: 50px">Pour finir, parle nous de ton projet d’adoption.</p>
  <div>
    <a class="main-btn" href="adoptionproject">Suivant</a>
    <a class="back-btn" href="daily">Retour</a>
  </div>
</div>
