<div class="formulaire-adoptant">
  <img src="https://res.cloudinary.com/dsdxs3b1q/image/upload/On_y_est_presque_cbk3bf.png" alt="image" style="padding-top: 28%; padding-bottom: 0%" class="formulaire-adoptant-responsive-image">
  <h1>On y est presque</h1>
  <p style="padding-bottom: 50px">Pour finir, parle-nous de ton projet d’adoption.</p>
  <div>
    <a class="main-btn" href="adoptionproject">Suivant</a>
    <a class="back-btn" href="daily">Retour</a>
  </div>
</div>
