<div class="presentation-app" style="height: 40rem">
  <img src="https://res.cloudinary.com/dsdxs3b1q/image/upload/Équilibre__2_o65edq.png" alt="image" style="padding-top: 0px" class="formulaire-adoptant-responsive-image">
  <h2>Créer ton profil d’adoptant</h2>
  <p>Répond à notre questionnaire détaillé pour nous aider à mieux te connaître et à te proposer des profils d’animaux sur-mesure et compatible avec ton mode de vie.</p>
  <div>
  <a class="main-btn"  style="padding: 6px" href="intro2">Suivant</a>
  </div>
</div>
