<div class="presentation-app" >
  <img src="https://res.cloudinary.com/dsdxs3b1q/image/upload/Créer_un_profil_wnnl13.png" alt="image" class="presentation-images">
  <h2>Crée ton profil d’adoptant</h2>
  <p>Réponds à notre questionnaire afin de nous aider à mieux te connaître et à te proposer des profils d’animaux sur mesure compatibles avec ton mode de vie.</p>
  <div>
  <a class="main-btn"  style="padding: 6px" href="intro2">Suivant</a>
  </div>
</div>
