<div class="presentation-app" style="padding: 24px">
  <img src="https://res.cloudinary.com/dsdxs3b1q/image/upload/Matche_avec_les_animaux_nir7qx.png" alt="image" style="margin-top: 5%" class="presentation-images">
  <h2>Matche avec les animaux des refuges alentour</h2>
  <p>Trouve le compagnon qui saura créer l’étincelle parmis les nombreux profils qui te seront proposés.</p>
  <div>
  <a class="main-btn"  style="padding: 6px" href="intro3">Suivant</a>
  </div>
</div>
