<div class="presentation-app">
  <img src="https://res.cloudinary.com/dsdxs3b1q/image/upload/Refuge_wsike7.png" alt="image" style="padding-top: Opx" class="formulaire-adoptant-responsive-image">
  <h2>Discute avec les refuges partenaires</h2>
  <p style="padding-bottom: 40px">Entre en contact avec le refuge en charge de l’animal après un match afin d’en apprendre plus, et peut être démarrer un processus d’adoption.</p>
  <div>
  <a class="main-btn"  style="padding: 6px" href="tobegin">C'est parti!</a>
  </div>
</div>
