<div class="presentation-app" style="height: 40rem, padding: 24px">
  <img src="https://res.cloudinary.com/dsdxs3b1q/image/upload/IMG_0096_2_oph6pq.png" alt="image" style="padding-top: 0px" class="formulaire-adoptant-responsive-image">
  <h2>Matche avec les animaux des refuges alentours</h2>
  <p>Utilise tes cinq matchs quotidiens pour trouver le compagnon qui saura créer l’étincelle parmis les refuges autour  des chez toi.</p>
  <div>
  <a class="main-btn"  style="padding: 6px" href="intro3">Suivant</a>
  </div>
</div>
