<div class="presentation-app">
  <img src="https://res.cloudinary.com/dsdxs3b1q/image/upload/Refuge_wsike7.png" alt="image" style="margin-top: 30%; margin-bottom: 13%" class="presentation-images">
  <h2>Échange avec les refuges partenaires</h2>
  <p style="padding-bottom: 40px">Entre en contact avec les refuges de tes profils favoris pour démarrer un potentiel processus d’adoption.</p>
  <div>
  <a class="main-btn"  style="padding: 6px" href="tobegin">C'est parti!</a>
  </div>
</div>
