<div class="formulaire-adoptant">
  <img src="https://res.cloudinary.com/dsdxs3b1q/image/upload/Pour_commencer_suogik.png" alt="image" style="padding-top: 25%; padding-bottom: 12%" class="formulaire-adoptant-responsive-image">
  <h1>Pour commencer</h1>
  <p style="padding-bottom: 12%">Aide-nous à créer ton profil d’adoptant en nous en apprenant plus sur toi!</p>
  <div>
  <a class="main-btn" href="aboutyou">Suivant</a>
  </div>
</div>
