<div class="presentation-app">
  <h1 style="padding-top: 80px">Bienvenue chez Spark!</h1>
  <p style="padding-bottom: 40px">Trouve le compagnon idéal adapté à ton mode de vie !</p>
  <img src="https://res.cloudinary.com/dsdxs3b1q/image/upload/Bienvenue_dpl3cv.png" alt="image" class="presentation-images">
  <div>
  <a class="main-btn" style="padding: 6px" href="intro1">Commencer</a>
  </div>
</div>
