<img src="" alt="">
<h2>Bien joué</h2>
<p>Maintenant, parle nous de ton quotidien et ton environnnement.</p>
<div>
<a class="main-btn" href="daily">Suivant</a>
<a class="back-btn" href="aboutyou">Retour</a>
</div>
