<div class="formulaire-adoptant">
  <img src="https://res.cloudinary.com/dsdxs3b1q/image/upload/Bien_joué_n0i4as.png" alt="image" style="padding-top: 25%; padding-bottom: 5%" class="formulaire-adoptant-responsive-image">
  <h1>Bien joué</h1>
  <p style="padding-bottom: 8%">Maintenant, parle-nous de ton quotidien et de ton environnement.</p>
  <div>
    <a class="main-btn" href="daily">Suivant</a>
    <a class="back-btn" href="aboutyou">Retour</a>
  </div>
</div>
