<div class="formulaire-adoptant" style="height: 37rem">
  <img src="https://res.cloudinary.com/dsdxs3b1q/image/upload/Planter_g7vk0x.png" alt="image" class="formulaire-adoptant-responsive-image">
  <h1>Bien joué</h1>
  <p style="padding-bottom: 50px">Maintenant, parle nous de ton quotidien et ton environnement.</p>
  <div>
    <a class="main-btn" href="daily">Suivant</a>
    <a class="back-btn" href="aboutyou">Retour</a>
  </div>
</div>
