.convs-et-matchs {
  background-color: #FDFFF3;
}

.convs-et-matchs h1 {
  font-size: 25px;
  font-family: "Noto Serif", serif;
  font-weight: 600;
  color: #161616;
  text-align: left;
}

.convs-et-matchs-card img {
  height: 190px;
  width: 130px;
  border-radius: 12px;
  margin: 10px 10px;
}

.card-index-matchs {
  height: 190px;
  width: 130px;
  border-radius: 12px;
  margin: 10px 10px;
}

.convs-et-matchs-card h3 {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #FDFFF3;
  text-align: center;
  vertical-align: baseline;
}

.convs-et-matchs-messages h2 {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #161616;
  text-align: left;
  vertical-align: baseline;
}


.convs-et-matchs-messages p {
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #161616;
  text-align: left;
}

.convs-et-matchs-messages-date p {
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #161616;
  text-align: right;
}
