.formulaire-adoptant {
  background-color: #F3F05C;
}

// Cases Formulaire


.formulaire-adoptant-form-entier {
  height: 40px;
  width: 300px;
  border-radius: 12px;
  box-shadow: 1px 2px 0px 1px #161616;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #161616;
  border: 1.5px solid ;
  text-align: left;
  margin: 8px auto;
}

.formulaire-adoptant-form-demi {
  height: 40px;
  width: 144px;
  border-radius: 12px;
  box-shadow: 1px 2px 0px 1px #161616;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #161616;
  border: 1.5px solid ;
  text-align: center;
  margin: 8px auto;
}

.formulaire-adoptant-form-tier {
  height: 40px;
  width: 92px;
  border-radius: 12px;
  box-shadow: 1px 2px 0px 1px #161616;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #161616;
  border: 1.5px solid ;
  text-align: center;
  margin: 8px auto;
}

.formulaire-adoptant-form-integer {
  height: 40px;
  width: 40px;
  border-radius: 12px;
  box-shadow: 1px 2px 0px 1px #161616;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #161616;
  border: 1.5px solid ;
  text-align: center;
  margin: 8px auto;
}

.formulaire-adoptant-form-photo {
  height: 92px;
  width: 92px;
  border-radius: 12px;
  box-shadow: 1px 2px 0px 1px #161616;
  border: 1.5px solid ;
  margin: 8px auto;
}

.formulaire-adoptant-form-input {
  height: 300px;
  width: 300px;
  border-radius: 12px;
  box-shadow: 1px 2px 0px 1px #161616;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #161616;
  border: 1.5px solid ;
  text-align: left;
  margin: 8px auto;
}


// Fonts

.formulaire-adoptant h1 {
  font-size: 30px;
  font-family: "Noto Serif", serif;
  font-weight: 600;
  color: #161616;
  text-align: center;
  vertical-align: baseline;
}

.formulaire-adoptant h2 {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #161616;
  text-align: center;
  vertical-align: baseline;
}

.formulaire-adoptant h3 {
  font-size: 26px;
  font-family: "Noto Serif", serif;
  font-weight: 600;
  color: #161616;
  text-align: center;
  vertical-align: baseline;
  line-height: 35px;
}

.formulaire-adoptant h4 {
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #161616;
  text-align: center;
  vertical-align: baseline;
  line-height: 23px;
}

.formulaire-adoptant p {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #161616;
  text-align: center;
  vertical-align: baseline;
  line-height: 20px;
}
