.formulaire-adoptant {
  display:flex;
  flex-direction: column;
  align-items: center;
  width:100%;
  background-color: #F3F05C;
  height: auto;
  min-height: 100vh;         /* S'assure que le fond couvre toute la hauteur de la page */
  margin: 0 auto;
  padding-bottom: 80px;
}

.formulaire-adoptant-responsive-image {
  width: 330px;      /* Adapte la largeur de l'image à 100% de l'élément parent */
  height: auto;      /* Ajuste la hauteur automatiquement pour conserver les proportions */
  max-width: 100%;   /* Empêche l'image de dépasser sa taille originale */
  padding: 300px auto;  /* Supprime les espaces blancs éventuels en mode inline */
  padding-top: 115px;
  padding-bottom: 35px;
}

form {
  padding-left: 50px;
  padding-right: 60px;
}
//custom checkbox

//input triple

#triple input[type="radio"]:checked {
  accent-color: #161616;
}

#triple input[type="radio"] {
  display: none;
}

#triple input[type="radio"] + label {
  background-color: #F3F05C;
  box-shadow: 1px 2px 0px 1px #161616;
  border: 1.5px solid ;
  border-radius: 12px;
  font-size: 14px;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  width: 90px;
  color: #161616;
  padding: 8px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;

}

#triple input[type="radio"]:checked + label {
  background-color: #161616;
  border: 1.5px solid ;
  box-shadow: 1px 2px 0px 1px #161616;
  color: #FDFFF3;
  border-radius: 12px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  height: 40px;
  width: 90px;
  color: #F3F05C;
  padding: 8px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

//input triple checkbbox

#triple input[type="checkbox"]:checked {
  accent-color: #161616;
}

#triple input[type="checkbox"] {
  display: none;
}

#triple input[type="checkbox"] + label {
  background-color: #F3F05C;
  box-shadow: 1px 2px 0px 1px #161616;
  border: 1.5px solid ;
  border-radius: 12px;
  font-size: 14px;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  width: 90px;
  color: #161616;
  padding: 8px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;

}

#triple input[type="checkbox"]:checked + label {
  background-color: #161616;
  border: 1.5px solid ;
  box-shadow: 1px 2px 0px 1px #161616;
  color: #FDFFF3;
  border-radius: 12px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  height: 40px;
  width: 90px;
  color: #F3F05C;
  padding: 8px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

//input :double

#double input[type="radio"]:checked {
  accent-color: #161616;
}

#double input[type="radio"] {
  display: none;
}

#double input[type="radio"] + label {
  background-color: #F3F05C;
  box-shadow: 1px 2px 0px 1px #161616;
  border: 1.5px solid ;
  border-radius: 12px;
  font-size: 14px;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  width: 143px;
  color: #161616;
  padding: 8px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;

}

#double input[type="radio"]:checked + label {
  background-color: #161616;
  border: 1.5px solid ;
  box-shadow: 1px 2px 0px 1px #161616;
  color: #FDFFF3;
  border-radius: 12px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  height: 40px;
  width: 143px;
  color: #F3F05C;
  padding: 8px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

label {
  cursor: pointer;
}

.formulaire-adoptant-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

// Cases Formulaire

.formulaire-adoptant-form-entier {
  height: 40px;
  width: 300px;
  border-radius: 12px;
  background-color: #F3F05C;
  box-shadow: 1px 2px 0px 1px #161616;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #161616;
  border: 1.5px solid ;
  text-align: left;
  margin: 8px auto;
  margin-bottom: 50px;
  padding: 8px;
}


.formulaire-adoptant-form-tier {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 8px;
  height: 40px;
  width: 92px;
  border: 1.5px solid ;
  background-color: #F3F05C;
  box-shadow: 1px 2px 0px 1px #161616;
  border-radius: 12px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #161616;
  justify-content: center;
  margin-bottom: 50px;
}

.formulaire-adoptant-form-photo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 8px;
  height: 40px;
  width: 150px;
  border: 1.5px solid ;
  background-color: #F3F05C;
  box-shadow: 1px 2px 0px 1px #161616;
  border-radius: 12px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #161616;
  justify-content: center;
  text-align: center;
  margin-bottom: 70px;
}

.formulaire-adoptant-form-input {
  height: 200px;
  width: 300px;
  border-radius: 12px;
  background-color: #F3F05C;
  box-shadow: 1px 2px 0px 1px #161616;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #161616;
  border: 1.5px solid ;
  text-align: left;
  margin: 8px auto;
  margin-bottom: 50px;
  padding: 8px;
}


// Fonts

.formulaire-adoptant h1 {
  padding-left: 35px;
  padding-right: 35px;
  font-size: 30px;
  font-family: "Noto Serif", serif;
  font-weight: 600;
  color: #161616;
  text-align: center;
  vertical-align: baseline;
}

.formulaire-adoptant h2 {
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 70px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #161616;
  text-align: center;
  vertical-align: baseline;
}

.formulaire-adoptant h3 {
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 80px;
  font-size: 26px;
  font-family: "Noto Serif", serif;
  font-weight: 600;
  color: #161616;
  text-align: center;
  vertical-align: baseline;
  line-height: 35px;
}

.formulaire-adoptant h4 {
  padding-left: 0;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #161616;
  text-align: left;
  vertical-align: baseline;
  line-height: 23px;
  padding-bottom: 10px;
}

.formulaire-adoptant p {
  padding-left: 35px;
  padding-right: 35px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #161616;
  text-align: center;
  vertical-align: baseline;
  line-height: 20px;
}
