.header {
  width: 100%;
  padding: 40px auto;
  font-size: 40px;
  font-family: "Noto Serif", serif;
  font-weight: 700;
  color: #161616;
  text-align: center;
  vertical-align: baseline;
  background-color: #FDFFF3;
};
