// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "buttons";
@import "presentation_app";
@import "formulaire_adoptant";
@import "page_notifications";
@import "menu";
@import "header";
@import "card_match";
@import "show_profils_user_pets";
@import "convs_et_matchs";
@import "profil_user";
@import "etiquettes-details";
@import "chat";
@import "results";

// FONTS

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
