.menu-navbar {
  display: flex;
  justify-content: center; /* Centre horizontalement le contenu */
  align-items: center;    /* (Optionnel) Centre aussi verticalement */
  width: 100%;            /* Assure que le conteneur prend toute la largeur */
  height: auto;
}

.menu-spark {

  height: 90px;
  width: 105%;

  background-color: #161616;
  border-radius: 40px 40px 0px 0px;

  display:flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;

  padding: 50px;
  position: fixed;
  bottom: 0;
}

.menu-spark i {
  display:inline;
  color: #878882;
  width: 40px;
  height: 40px;
  border: none;
  &:hover {
    background-color: #878882;
    color: white
  }
}
