.page-notification {
  background-color: #63CFB2;
  min-height: 100vh;
  padding-bottom: 50px;
  display:flex;
  flex-direction: column;
  align-items: center;
  width:100vw;
  padding-left: 30px;
  padding-right: 30px;
}

.sparkModalopacity {
  animation: fadeIn 1s ease;
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
}
  /* S'assure que le fond couvre toute la hauteur de la page */

// Fonts

.page-notification h1 {
  font-size: 30px;
  font-family: "Noto Serif", serif;
  font-weight: 600;
  color: #FDFFF3;
  text-align: center;
  vertical-align: baseline;
}
.page-notification p {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #FDFFF3;
  text-align: center;
  vertical-align: baseline;
  line-height: 25px;
}

.page-notification img {
  width: 145px;
  border-radius: 50%;
}

#imagesgridnotif {
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
  justify-content: center;
  gap: 20px;
  margin-top: 200px;
}

#imagesgridnotif img:nth-child(3) {
  grid-column: 1 / -1; /* S'étend sur toute la largeur */
  justify-self: center; /* Centre horizontalement */
  position:fixed;
  top: 240px;
  left: 165px;
  width: 80px;
  z-index: 1000;
}
