.presentation-app {
  display:flex;
  flex-direction: column;
  align-items: center;
  width:100%;
  background-color: #F3F05C;
  height: auto;
  min-height: 100vh;
  padding-left: 40px;
  padding-right:40px;     /* S'assure que le fond couvre toute la hauteur de la page */
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 80px;
}

.presentation-images {
  width: 230px;      /* Adapte la largeur de l'image à 100% de l'élément parent */
  height: auto;      /* Ajuste la hauteur automatiquement pour conserver les proportions */
  max-width: 100%;   /* Empêche l'image de dépasser sa taille originale */
  padding: 300px auto;  /* Supprime les espaces blancs éventuels en mode inline */
  padding-top: 6%;
  padding-bottom: 8%;
}

.presentation-app h1 {
  font-size: 40px;
  font-family: "Noto Serif", serif;
  font-weight: 600;
  color: #161616;
  text-align: center;
  vertical-align: baseline;
  line-height: 40px;
  padding-bottom: 20px;
}

.presentation-app h2 {
  font-size: 30px;
  font-family: "Noto Serif", serif;
  font-weight: 700;
  color: #161616;
  text-align: center;
  vertical-align: baseline;
  margin-bottom: 6%;

}

.presentation-app p {
  font-size: 16.5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #161616;
  text-align: center;
  vertical-align: baseline;
  line-height: 22px;
  margin-bottom: 14%;
}
