.profil-adoptant {
  background-color: #F3F05C;
}

// Cases Formulaire

// 300x40 form.entier
// 144x 40 form.demi
// 92x40 form.tiers
// 92x92 form.photo 40x40 form.integer
// 300x300 form.input



// Fonts

.profil-adoptant h1 {
  font-size: 30px;
  font-family: "Noto Serif", serif;
  font-weight: 600;
  color: #161616;
  text-align: center;
  vertical-align: baseline;
}

.profil-adoptant h2 {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #161616;
  text-align: center;
  vertical-align: baseline;
}

.profil-adoptant h3 {
  font-size: 26px;
  font-family: "Noto Serif", serif;
  font-weight: 600;
  color: #161616;
  text-align: center;
  vertical-align: baseline;
}

.profil-adoptant h4 {
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #161616;
  text-align: center;
  vertical-align: baseline;
}

.profil-adoptant p {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #161616;
  text-align: center;
  vertical-align: baseline;
}

.content-profil-adoptant p {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #161616;
}
