.show-profils-user-pet {
  background-image: x;
  width: 100%;
}

.show-profils-user-pet h1 {
  font-size: 30px;
  font-family: "Noto Serif", serif;
  font-weight: 600;
  color: #FDFFF3;
  text-align: center;
  vertical-align: baseline;
}

.show-profils-user-pet p{
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #FDFFF3;
  text-align: center;
  vertical-align: baseline;
  line-height: 25px;
}

.show-profils-user-pet-card {
  background-color: #FDFFF3;
  border-radius: 40px 40px 0px 0px;
  width: 100%;
  height: 1100;
}


.show-profils-user-pet-card h2 {
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #161616;
  text-align: left;
  margin: 8px auto;
}

.show-profils-user-pet-card p{
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #161616;
  text-align: left;
  margin: 8px auto;
  line-height: 23px;
}

.wrapper-pet {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-content: center;
}

.pet-description li {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #161616;
  text-align: left;
  margin: 8px auto;
  line-height: 23px;
}
