<div id="appointment_<%= appointment.id %>">
  <div class="booking-composant">
      <div class="booking-card-profile">
        <div class="interior-card-profile">
          <div class="logoprofil-booking fa-regular fa-calendar-check fa-4x" style="color: #ffffff;"></div>
          <div class="text-profile">
            <h3><%= truncate(appointment.shelter.name, length: 20) %></h3>
            <h4><%= I18n.l(appointment.date, format: '%A %d %b à %Hh', locale: :en) %></h4>
          </div>
        </div>
        <%= button_to 'Annuler', match_appointment_path(appointment.match_id, appointment),
        method: :delete, data: { turbo_confirm: 'Êtes-vous sûr de vouloir annuler ce rendez-vous ?' },
        class: 'main-btn-small-profile' %>
      </div>
  </div>
</div>
